// ---------------------------------------------------------------------------
// Background color
// ---------------------------------------------------------------------------
$bodyBackground:  #f8f8f8;
$bodyColor:       rgb(34, 34, 34);
$linkColor:       rgb(255, 82, 0);
