.wrap {
    width: 960px;
    margin: 0 auto;
}

header[role="banner"] {
    margin: 25px 0;
}

section[role="main"] {
    margin: 25px 0;
}

footer[role="contentinfo"] {
    margin: 25px 0;
}

.hide {
    display: none;
}

.clearfix {
    @include clearfix;
}

a, textarea, input { outline: none; }

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}
